<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <link rel="icon" href="images/fevicon/fevicon.png" type="image/gif" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>EyesCart</title>

  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"> -->

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

  <!-- font awesome style -->
  <link href="css/font-awesome.min.css" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/style.css?v=<%= Date.now() %>">
  <!-- responsive style -->
  <link href="css/responsive.css" rel="stylesheet" />
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"> -->

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

  <!-- font awesome style -->
  <link href="css/font-awesome.min.css" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="css/responsive.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>

  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="index">
            <span>
              <div class="title">
                EyesCart
              </div>

              <img class="logo" src="/images/Logo.png" alt="" style="position: absolute; right: 141px;">
            </span>
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-top: 15px">
            <ul class="navbar-nav  ">
              <li class="nav-item ">
                <a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about"> About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/product">Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/testimonial">Testimonial</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact Us</a>
              </li>
            </ul>
           
            <div class="user_optio_box">
            </div>
          </div>
          <div class="header-container">
            <div class="header-items">
              <a href="/wishlist"><img class="wishlist" src="/images/heart-solid.svg" alt=""></a>
              <a href="/wishlist">
                <p class="wishlist1">Wishlist</p>
              </a>
            </div>

            <div class="header-items">
              <a href="/cart"><img class="cart" src="/images/cart-shopping-solid.svg" alt=""></a>
              <a href="/cart">
                <p class="cart1">Cart</p>
              </a>
            </div>


            <div class="header-items">
              <a href="/profile"><img class="account" src="/images/user-solid.svg" alt=""></a>
              <a href="/profile">
                <p class="account1">Account</p>
              </a>
            </div>


            <div class="header-items">
              <a href="/logout" id="log"><img class="logout log" src="/images/logout.png" alt=""></a>
              <a href="/logout" id="log1" class="logout1 log" role="button" style="text-decoration: none;">Logout</a>
            </div>
          </div>

        </nav>
      </div>
    </header>
    <!-- end header section -->


    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.9/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Include SweetAlert2 CSS and JS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        console.log("HHH");
        const logoutButton = document.getElementById("log");
        const logoutButton1 = document.getElementById("log1");

        if (logoutButton) {
          logoutButton.addEventListener("click", function (e) {
            e.preventDefault(); // Prevent the default link behavior

            // Use SweetAlert2 for confirmation
            Swal.fire({
              title: "Are you sure?",
              text: "Do you really want to logout?",
              icon: "question",
              showCancelButton: true,
              confirmButtonText: "Yes, logout",
              cancelButtonText: "No, cancel"
            }).then((result) => {
              if (result.isConfirmed) {
                // If the user confirms, redirect to the logout page
                window.location.href = "/logout";
              }
            });
          });
        }
      });
    </script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        console.log("HHH");
        // const logoutButton = document.getElementById("log");
        const logoutButton1 = document.getElementById("log1");

        if (logoutButton1) {
          logoutButton1.addEventListener("click", function (e) {
            e.preventDefault(); // Prevent the default link behavior

            // Use SweetAlert2 for confirmation
            Swal.fire({
              title: "Are you sure?",
              text: "Do you really want to logout?",
              icon: "question",
              showCancelButton: true,
              confirmButtonText: "Yes, logout",
              cancelButtonText: "No, cancel"
            }).then((result) => {
              if (result.isConfirmed) {
                // If the user confirms, redirect to the logout page
                window.location.href = "/logout";
              }
            });
          });
        }
      });
    </script>